.search {
    background: linear-gradient(90deg, rgba(36,5,0,1) 0%, rgba(4,31,26,1) 0%, rgba(3,32,26,1) 0%, rgba(0,212,255,1) 100%);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
} 

.search p {
    color: black;
}

.search_container {
    display: flex;
    gap: 0.7rem;
}

.search_container input,
.search_container button {
    padding: 0.6rem;
    border-radius: 3px;
    border: none;
    color: #2b3566;
}

.search_container button {
    background-color: #0e1129;
    cursor: pointer;
}